# Java
*.jar
*.class

# Gradle
.gradle
/build/
!gradle-wrapper.jar

# Eclipse
*.classpath
*.project
.metadata
.settings
/bin

#IntelliJ
.idea

# VSCode
.vscode

# Files and Directories
/config.json
/src/main/resources/languages/languages.txt
/logs
