name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "30 4 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        enable-statistics: true
        days-before-stale: 30
        stale-issue-message: 'Unresolved issue, marked as stale.'
        stale-pr-message: 'No activities within a month, marked as stale.'
        stale-issue-label: 'Stale'
        stale-pr-label: 'Stale'
